<div class="p-8 grid gap-8">
  <div class="grid grid-cols-2">
    <ui-select class="w-1/4" [items]="algorithms"></ui-select>
    <div class="flex items-center justify-end gap-4">
      <ui-button class="mt-auto" label="Reset grid" (click)="resetGrid()">
        Reset grid
      </ui-button>
      <ui-button class="mt-auto" label="Run Algorithm" (click)="runAlgorithm()">
        {{ storeState.isLoading() ? 'Running...' : 'Run Algorithm' }}
      </ui-button>
      <ui-button class="mt-auto" label="Generate Maze" (click)="generateMaze()">
        {{ storeState.isLoading() ? 'Generating...' : 'Generate Maze' }}
      </ui-button>
    </div>
  </div>

  <!-- Error message display -->
  <!-- <div
    *ngIf="error !== undefined"
    class="text-red-500 mb-4 p-4 bg-red-100 rounded"
  >
    {{ error() }}
  </div> -->

  <!-- Loading indicator -->
  <!-- <div
    *ngIf="storeState.isLoading()"
    class="flex justify-center items-center mb-4"
  >
    <div
      class="animate-spin rounded-full h-8 w-8 border-b-2 border-blue-500"
    ></div>
  </div> -->

  <ui-playground [colors]="colors" [pixelSize]="pixelSize"></ui-playground>
</div>
